# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.venv/

# Virtual environments
venv/

# SQLite database
estoque.db
estoque.db.bak
estoque.db.*

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Byte-compiled / distribution
build/
dist/
.eggs/
*.egg-info/
*.egg

# Logs
*.log
